@use '../../styles/partials/varibils' as *;

@mixin position-fixed {
    position: fixed;
    width: 100%;
}

@mixin d-flex-align-center {
    display: flex;
    align-items: center;
}

@mixin shadow-header {
    -webkit-box-shadow: 20px 5px 0px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 10px 5px 0px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 16px 9px -6px rgba(0,0,0,0.62);
}

@mixin header-color-style {
    background-color: $header-color;
    color: white;
}

@mixin footer-color-style {
    background-color: $footer-color;
    color: white;
}

