@use '../../styles/partials/varibils' as *;

@mixin position-fixed {
    position: fixed;
    width: 100%;
}

@mixin d-flex-align-center {
    display: flex;
    align-items: center;
}

@mixin shadow-header {
    -webkit-box-shadow: 20px 5px 0px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 10px 5px 0px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 16px 9px -6px rgba(0,0,0,0.62);
}

@mixin header-color-style {
    background-color: $header-color;
    color: white;
}

@mixin footer-color-style {
    background-color: $footer-color;
    color: white;
}

@mixin heart-icon {
    .heart-icon {
        position: absolute;
        right: 0%;
        top: 3%;
        color: rgba(0, 0, 0, 0.5);
        background-color: white;
        width: 40px;
        font-size: 30px;
        aspect-ratio: 1;
        text-align: center;
        line-height: 50px;
        &:hover {
            color: rgba(255, 0, 0, 0.742);
        }
        &.in-favorites {
            color: red;
            width: 50px;
            font-size: 40px;
        }
        cursor: pointer;
    };
};

@mixin sustainability-icon {
    .sustainability-icon {
        display: inline-block;
        background-color: green; 
        color: white;
        line-height: 24px;
        padding: 0px 12px;
        margin-right: 10px;
    }
};

@mixin discount-icon {
    .discount-icon {
        display: inline-block;
        background-color: red;
        color: white;
        line-height: 24px;
        padding: 0px 12px;
        margin-right: 10px;
    }
}

@mixin header-menu {
    ul {
        @include d-flex-align-center;
        a {
            display: block;
            padding: 0 10px;
            line-height: 20px;
        }
    };
}

@mixin header-menu {
    ul {
        @include d-flex-align-center;
        a {
            display: block;
            padding: 0 10px;
            line-height: 20px;
        }
        .icon {
            display: inline-block;
            width: $font-size;
        }
    };
}
