$main-color: #DAE9FE;
$secondary-color: #333;

// HEADER
$header-color: #ff6900;
$header-logo-height: 30px;
$header-padding: 10px 0px;

// FOOTER
$footer-color: #1a1a1a;
$footer-logo-height: 30px;
$footer-padding: 20px 0px;