@use '../styles/partials/varibils' as *;
@use '../styles/partials/mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    cursor: default;
}

img {
    max-width: 100%;    
}

.image-back {
    position: absolute;
    z-index: -1;
    left: 0px;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class^="col"] {
    padding: 10px;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.flex {
    display: flex;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.header-menu {
    @include header-menu;
}

.icon-menu-modal {
    a {
        display: block;
        padding: 0 10px;
        line-height: 20px;
    }
    .icon {
        display: inline-block;
        width: $font-size;
        color: black;
    }
}



  